[project]
	description = "momorc auto-setup  rc"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Roan Huang (pichuang)
[access "refs/for/refs/*"]
	read = group user/Roan Huang (pichuang)
	push = group user/Roan Huang (pichuang)
	label-Code-Review = -2..+2 group user/Roan Huang (pichuang)
	label-Verified = -1..+1 group user/Roan Huang (pichuang)
	rebase = group user/Roan Huang (pichuang)
	removeReviewer = group user/Roan Huang (pichuang)
	submit = group user/Roan Huang (pichuang)
[access "refs/heads/*"]
	read = group user/Roan Huang (pichuang)
	create = group user/Roan Huang (pichuang)
	push = +force group user/Roan Huang (pichuang)
	pushMerge = group user/Roan Huang (pichuang)
[access "refs/tags/*"]
	push = +force group user/Roan Huang (pichuang)
	pushTag = group user/Roan Huang (pichuang)
	pushSignedTag = group user/Roan Huang (pichuang)
